.App {

}
*{
margin:0px;
padding:0px;
}
.navbar h1{
  color:red;
  margin:0 auto;
  text-align: center;
  background-color:aqua;
  padding:10px;
}
.navbar ul{
  display:flex;
  justify-content: flex-start;
  background-color:aquamarine;
  padding:10px;
}
.navbar ul li{
  list-style: none;
  padding-right:50px;
}
.main{
  text-align: center;
  height:565px;;
  background-color:lightgray;
}
.footer{
  text-align:center;
  background-color:grey;
}
